<!DOCTYPE html>
<html>
    <head>
        <title>Board</title>
        <link href={{ static_url("css/template.css")}} rel="stylesheet">
        <link href={{ static_url("css/user_preference.css")}} rel="stylesheet">
        <script type="text/javascript" src={{ static_url("js/jquery-3.1.1.min.js") }}></script>
    </head>
    <body>
            <div class='container'>
                
            </div>
            <script type='text/javascript' src='{{ static_url("js/board_size_reset.js") }}'></script>
            <script type='text/javascript' src='{{ static_url("js/load_schedule.js") }}'></script>
    </body>
</html>
