<!DOCTYPE html>
<html>
    <head>
        <title>Board</title>
        <link href={{ static_url("css/template.css")}} rel="stylesheet">
        <link href={{ static_url("css/user_preference.css")}} rel="stylesheet">
        <script type="text/javascript" src={{ static_url("js/jquery-3.1.1.min.js") }}></script>
    </head>
    <body>
            <div class='container'>
                <center>
                    <img src="#" id='pic' style="display:none"/>
                    <div class='like_count' id='like_count_class'>
                        <img src={{ static_url("img/Like.png") }} id='like'/>
                        <p id='like_count'></p>
                    </div>
                </center>
                <div class="title2" style="display:none">
                    <div class="header">
                        <span id="con" >賀 !</span>
                    </div>
                    <div class='content'>
                        <div class='title' id='title1'></div>
                        <div class='title' id='title2'></div>
                        <div id='location'></div>
                        <div id='detailtime'></div>
                        <div id='description'></div>
                        <img id='event_qrcode'  src={{ static_url("calendar_event/0i2lpmjfd9in4o8i575q2a6jpe.png") }} style="display:none" />
                        <div id='footer'>
                            <div class='bar'></div>
                            <div class='congratulation'>105年12月 資訊學院全體師生慶賀</div>
                        </div>
                    </div>
                </div>
                <div id='user_pref' style='display:none'>
                    <div id="left_top">
                        <div id="hi">
                            <b>Hi,</b>
                        </div>

                        <div id="name">
                            <b>Sarah</b>
                        </div>
                    </div>

                    <div id="right_top">
                        <div id="star">
                            <b>牡羊</b>
                        </div>
                        <div class="lucky" style="position:absolute; left:25px; top:140px;" id="overall">
                            <b>整體運勢★★★★☆</b><br>
                        </div>
                        <div class="lucky" style="position:absolute; left:75px; top:177px;" id="love">
                            <b>愛情運勢★★★★☆</b><br>
                        </div>
                        <div class="lucky" style="position:absolute; left:25px; top:214px;" id="career">
                            <b>事業運勢★★★☆☆</b><br>
                        </div>
                        <div class="lucky" style="position:absolute; left:75px; top:251px;" id="wealth">
                            <b>財運運勢★★★★☆</b><br>
                        </div>
                    </div>

                    <div id="left_bottom">
                        <div id="week">
                            <b>Wed.</b>
                        </div>
                        <div id="year">
                            <b>2017</b>
                        </div>
			<div id="date">
			    <b>05.03</b>
			</div>
                    </div>

                    <div id="right_bottom">
                        <div id="interested">
                            <b>You may interested in...</b>
                        </div>
                        <img class="qrcode" id='qrcode1'  src="C:\Users\yuwenchiu\Desktop\template\XBw9N9n.jpg" width="120px" height="120px" style="left:50px;">
                        <div class="user_title" id='newsTitle1' style="left:142px;">
                            『劍指 Snapchat？AR、聊天機器人成 Facebook F8 開發大會重點！』
                        </div>
                        <img class="qrcode" id='qrcode2' src="C:\Users\yuwenchiu\Desktop\template\XBw9N9n.jpg" width="120px" height="120px" style="left:500px;">
                        <div class="user_title" id='newsTitle2' style="left:591px;">
                            『微軟揭曉雲端化作業系統Windows10S，與 Google一同競爭教育市場！』
                        </div>
                    </div>
                </div>
            </div>
            <script type='text/javascript' src='{{ static_url("js/board_size_reset.js") }}'></script>
            <script type='text/javascript' src='{{ static_url("js/load_schedule.js") }}'></script>
    </body>
</html>
