{% extends "index.html" %}
{% block head %}
  <link href={{ static_url("css/signin.css") }} rel="stylesheet">
{% end %}
    {% block body %}
        <script>
            $(document).ready(function(){
                $('#confirm_password').on('keyup', function () {
                    if ($(this).val() == $('#password').val()) {    
                        $('#message').html('matching').css('color', 'green');
                        $('#submit').removeAttr('disabled');
                    } else {
                        $('#message').html('not matching').css('color', 'red');
                        $('#submit').attr('disabled','disabled');
                    }
                });
                $('#password').on('keyup', function () {
                    if ($(this).val() == $('#confirm_password').val()) {    
                        $('#message').html('matching').css('color', 'green');
                        $('#submit').removeAttr('disabled');
                    } else {
                        $('#message').html('not matching').css('color', 'red');
                        $('#submit').attr('disabled','disabled');
                    }
                });
            });
        </script>
        <div class="container">
        <div class="jumbotron">
        <form class="form-signin" method="post">
            <h5>Username: </h5><strong style='padding-left:50px'>{{ current_user }}</strong>
            <h5>Old Password:</h5><input type="password" id="old_password" name="old_password" />
            <h5>New Password: </h5><input type="password" id="new_password" name="new_password" />
            <h5>Confirm New Password: </h5><input type="password" id="confirm_new_password" name="confirm_new_password" /><span id='message'></span>
            
            <p><input type="submit" id="submit" value="Submit" class="btn btn-primary"/></p>
            {% if flash %}
                <div>{{flash}}</div>
            {% end %}
            {% module xsrf_form_html() %}

        </form>
        </div>
        </div>
    {% end %}
