{% extends "index.html" %}
{% block head %}
  <link href={{ static_url("css/signin.css") }} rel="stylesheet">
{% end %}
    {% block body %}
	<script type='text/javascript' src={{ static_url("js/confirm_pw.js") }}></script>
        <div class="container">
        <div class="jumbotron">
        <form class="form-signin" method="post">
            <h5>Username: </h5><strong style='padding-left:50px'>{{ current_user }}</strong>
            <h5>Old Password:</h5><input type="password" id="old_password" name="old_password" />
            <h5>New Password: </h5><input type="password" id="password" name="password" />
            <h5>Confirm New Password: </h5><input type="password" id="confirm-password" name="confirm-password" /> <span id='message'></span>
            <p><input type="submit" id="submit" value="Submit" class="btn btn-primary"/></p>
            {% if flash %}
                <div>{{flash}}</div>
            {% end %}
            {% module xsrf_form_html() %}

        </form>
        </div>
        </div>
    {% end %}
