{% extends "index.html" %}

{% block head %}
    <link href={{ static_url("css/upload.css") }} rel="stylesheet">
{% end %}

{% block body %}
  <div class="container">
  <div class="jumbotron">
  <div class="row">
    <div class="col-lg-4">
  {% if img %}
  <form class="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="type" value="image"/>
    <label><strong>圖片ID :</strong>{{img[0]}}</label><br>
    <label><strong>圖片類型ID:</strong>
        <select name='data_type' id='data_type'>
            {% for type in  data_types %}
            <option value={{type[0]}} {% if img[1] == type[0] %} selected="selectd" {% end %}>{{type[1]}}</option>
            {% end %}
        </select>
    </label><br>
    <label><strong>圖片名稱:</strong>{{img[4]}}</label><br>
    <label><strong>上傳時間:</strong>{{img[5]}}</label><br>
    <label><strong>開始播放日期:</strong><input type="date" name="start_date" value="{{img[6]}}"/></label><br>
    <label><strong>結束播放日期:</strong><input type="date" name="end_date" value="{{img[7]}}"/></label><br>
    {% if img[8] < datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=10, weeks=0) %}
    <label><strong>開始播放時間:</strong><input type="time" step="1" name="start_time" value="0{{img[8]}}"/></label><br>
    {% else %}
    <label><strong>開始播放時間:</strong><input type="time" step="1" name="start_time" value="{{img[8]}}"/></label><br>
    {% end %}
    {% if img[9] < datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=10, weeks=0) %}
    <label><strong>結束播放時間:</strong><input type="time" step="1" name="end_time" value="0{{img[9]}}"/></label><br>
    {% else %}
    <label><strong>結束播放時間:</strong><input type="time" step="1" name="end_time" value="{{img[9]}}"/></label><br>
    {% end %}
    <label><strong>單次播放秒數:</strong><input type="text" name="display_time" value="{{img[11]}}"/></label><br>
    {% module xsrf_form_html() %}
    <input type="submit" class="btn btn-primary"/>
  </form>
  {% else %}
  <form class="form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="type" value="text"/>
    <label><strong>文字ID:</strong>{{text[0]}}</label><br>
    {% if text_content %}
        {% if text[1] == 3 %}
            <label><strong>活動名稱:</strong><input type='text' name='title1' id='person_name2' value="{{text_content['title1']}}"/></label><br>
            <input type=hidden name='title2' id='reward2' value="{{text_content['title2']}}"/>
            <label><strong>活動內容:</strong><textarea name='description' id='description2'/>{{text_content['description']}}</textarea></label><br>
            <input type=hidden name='year' value="{{text_content['year']}}"/>
            <input type=hidden name='month' value="{{text_content['month']}}"/>
        {% elif text[1] == 2 %}
            <label><strong>獲獎人:</strong><input type='text' name='title1' id='person_name' value="{{text_content['title1']}}"/></label><br>
            <label><strong>獲得獎項:</strong><input type='text' name='title2' id='reward' value="{{text_content['title2']}}"/></label><br>
            <label><strong>附註:</strong><textarea name='description' id='description'/>{{text_content['description']}}</textarea></label><br>
            <label><strong>獲獎時間:</strong>
                    <select id="year" name="year">
                    <script>
                    var myDate = new Date();
                    var year = myDate.getFullYear();
                    var selected_year = {{ text_content['year'] }};
                    for(var i = year; i > year-11 ; i--){
                        document.write('<option value="'+i+'">'+i+'</option>');
                    }
                    $('select#year').val(selected_year);
                    </script>
                    </select>
                    <select name="month" id="month">
                        <option value = "1">01</option>
                        <option value = "2">02</option>
                        <option value = "3">03</option>
                        <option value = "4">04</option>
                        <option value = "5">05</option>
                        <option value = "6">06</option>
                        <option value = "7">07</option>
                        <option value = "8">08</option>
                        <option value = "9">09</option>
                        <option value = "10">10</option>
                        <option value = "11">11</option>
                        <option value = "12">12</option> 
                        <script>
                            var selected_month = "{{ text_content['month'] }}";
                            $('select#month').children().each(function(){
                                if($(this).val() === selected_month){
                                    $(this).attr('selected','selected');
                                }
                            });
                        </script>
                    </select>
                    </label>
        {% end %}
    <script type="text/javascript">
        function deal_space(){
            {% if text[1] == 2 %}
            document.getElementById("person_name").value = document.getElementById("person_name").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("reward").value = document.getElementById("reward").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("description").value = document.getElementById("description").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            {% elif text[1] == 3 %}
            document.getElementById("person_name2").value = document.getElementById("person_name2").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("reward2").value = document.getElementById("reward2").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("description2").value = document.getElementById("description2").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            {% end %}
        }
    </script>
    {% end %}
    <label><strong>圖片類型ID:</strong>
        <select name='data_type' id='data_type'>
            {% for type in  data_types %}
            <option value={{type[0]}} {% if text[1] == type[0] %} selected="selectd" {% end %}>{{type[1]}}</option>
            {% end %}
        </select>
    </label><br>
    <label><strong>上傳時間:</strong>{{text[4]}}</label><br>
    <label><strong>開始播放日期:</strong><input type="date" name="start_date" value="{{text[5]}}"/></label><br>
    <label><strong>結束播放日期:</strong><input type="date" name="end_date" value="{{text[6]}}"/></label><br>
    <label><strong>開始播放時間:</strong><input type="time" name="start_time" value="{{text[7]}}"/></label><br>
    <label><strong>結束播放時間:</strong><input type="time" name="end_time" value="{{text[8]}}"/></label><br>
    <label><strong>單次播放秒數:</strong><input type="text" name="display_time" value="{{text[10]}}"/></label><br>
    {% module xsrf_form_html() %}
    <input type="submit" class="btn btn-primary"/>
  </form>
  {% end %}
    </div>
    <div class="col-lg-8">
    {% if img %}
      <img src="{{ static_url("thumbnail/"+img[3]) }}"/>
    {% else %}
        {% if text[1] == 3 %}
            <div class='header-activity'>
                <span id="con" >活動公告</span>
            </div>
            <div class='content'>
                <div class='title' id='person_name2'>{{text_content['title1']}}</div>
                <div class='title' id='reward2'>{{text_content['title2']}}</div>
                <div id='description2'>{{text_content['description']}}</div>
                <script>
                    var person_name2 = $('div#person_name2').html().replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
                    var reward2 = $('div#reward2').html().replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
                    var description2 = $('div#description2').html().replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
                    $('div#person_name2').html(person_name2);
                    $('div#reward2').html(reward2);
                    $('div#description2').html(description2);
                </script>
            </div>
        {% elif text[1] == 2 %}
            <div class='header'>
                <span id="con" >賀 !</span>
            </div>
            <div class='content'>
                <div class='title' id='person_name'>{{text_content['title1']}}</div>
                <div class='title' id='reward'>{{text_content['title2']}}</div>
                <div id='description'>{{text_content['description']}}</div>
                <div id='footer'>
                    <div class='bar'></div>
                    <div class='congratulation'><span id='year'>{{text_content['year']}}</span>年<span id='month'>{{text_content['month']}}</span>月 資訊學院全體師生慶賀</div>
                <script>
                    var person_name = $('div#person_name').html().replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
                    var reward = $('div#reward').html().replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
                    var description = $('div#description').html().replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
                    $('div#person_name').html(person_name);
                    $('div#reward').html(reward);
                    $('div#description').html(description);
                </script>
                </div>
            </div>
        {% end %}
    {% end %}
    </div>
  </div>
  {% if flash %}
      <br><p style="font-size: 14px">{{flash}}</p>
  {% end %}
  <a href="/" class="btn btn-link">回首頁</a>
  </div>
  </div>
  <script>
    $('input,textarea').on('keyup',function(){
        var id = $(this).attr('id');
        if( $('div#'+id).length ){
            var str = $(this).val().replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            $('div#'+id).html(str);
        }
    });
    $('select').change(function(){
        var id = $(this).attr('id');
        if( $('span#'+id).length ){
            $('span#'+id).text($(this).val());
        }
    });
  </script>
{% end %}
