<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Board</title>
        <link href={{ static_url("css/bootstrap.min.css") }} rel="stylesheet">
        <link href={{ static_url("css/navbar-fixed-top.css") }} rel="stylesheet">
        <script type="text/javascript" src={{ static_url("js/jquery-3.1.1.min.js") }}></script>
        {% block head %}
        {% end %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">NCTU Board</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
                {% if current_user and current_user.decode('utf-8') == 'admin' %}
                <li><a href='/signup'>Create User</a></li>
                <li><a href='/addType'>Add Type</a></li>
                {% end %}
                <li><a href="#">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if current_user %}
                    <li><a href="#" class="btn-link btn">{{current_user}}</a></li>
                    <li><a href="/changepw">Change Password</a></li>
                    <li><a href="/signout">Sign out</a></li>
                {% end %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        {% block body %}
        <div class="container">
          <div class="jumbotron">
              <ul class='nav nav-pills'>
                <li class='active'><a href='#img_content' >已上傳圖片</a></li>
                <li><a href='#text_content' >已上傳文字</a></li>
              </ul>
        <div id='img_content'>
        <table class="table" id='img_table'>
          <tr>
            <th>圖片ID</th>
            <th>圖片類型ID</th>
            <th>圖片名稱</th>
            <th>上傳時間</th>
            <th>開始播放日期</th>
            <th>結束播放日期</th>
            <th>開始撥放時間</th>
            <th>結束播放時間</th>
            <th>單次撥放秒數</th>
            <th>已撥放次數</th>
            <th>縮圖</th>
            <th>修改</th>
          </tr>
        {% if imgs %}
          {% for img in imgs %}
            <tr>
              <td>{{img[0]}}</td>
              <td>{{img[7]}}</td>
              <td>{{img[2]}}</td>
              <td>{{img[1]}}</td>
              <td>{{img[5]}}</td>
              <td>{{img[6]}}</td>
              <td>{{img[3]}}</td>
              <td>{{img[4]}}</td>
              <td>{{img[9]}}</td>
              <td>{{img[10]}}</td>
              <td><img src="{{ static_url("thumbnail/"+img[8]) }}"/></td>
              <td>
                  <a href="/edit?img_id={{img[0]}}" class="btn btn-link">Edit</a>
                  <a href="/delete?target_id={{img[0]}}" class="btn btn-link" onclick="deleteConfirm()">Delete</a>
              </td>
            <tr>
          {% end %}
        {% end %}

        </table>
        </div>
        <div id='text_content'style='display:none'>
            <table class='table'>
                <tr>
                    <th>文字ID</th>
                    <th>文字類型ID</th>
                    <th>上傳時間</th>
                    <th>開始播放日期</th>
                    <th>結束播放日期</th>
                    <th>開始播放時間</th>
                    <th>結束播放時間</th>
                    <th>單次播放時間</th>
                    <th>已播放次數</th>
                    <th>縮圖</th>
                    <th>修改</th>
                </tr>
                {% if texts %}
                    {% for text in texts %}
                        <tr>
                            <td>{{text[0]}}</td>
                            <td>{{text[1]}}</td>
                            <td>{{text[2]}}</td>
                            <td>{{text[3]}}</td>
                            <td>{{text[4]}}</td>
                            <td>{{text[5]}}</td>
                            <td>{{text[6]}}</td>
                            <td>{{text[7]}}</td>
                            <td>{{text[8]}}</td>
                            <td></td>
                            <td>
                                <a href="/edit?text_id={{text[0]}}" class='btn btn-link'>Edit</a>
                                <a href="/delete?target_id={{text[0]}}" class="btn btn-link" onclick="deleteConfirm()">Delete</a>
                            </td>
                        </tr>
                    {% end %}
                {% end %}
            </table>
        </div>

          </div>
        </div>
    <script>
        $('.nav-pills li a').click(function(){
            var href = $(this).attr('href');
            $(this).parent().addClass('active');
            $(href).css('display','inline');
            var other = $(this).parent().siblings().children().attr('href');
            $(this).parent().siblings().removeClass('active');
            $(other).css('display','none');
        });
        function deleteConfirm(){
            confirm("確定要刪除嗎?")
        }
    </script>
        {% end %}
    </body>
</html>
