{% extends "index.html" %}
{% block head %}
  <link href={{ static_url("css/signin.css") }} rel="stylesheet">
{% end %}
    {% block body %}
        <div class="container">
        <div class="jumbotron">
        <form class="form-signin" method="post">
            <p><h5>Username: </h5><input type="text" name="username" /></p>
            <p><h5>Password: </h5><input type="password" name="password" /></p>
            <p><input type="submit" value="Log In" class="btn btn-primary"/></p>
            {% module xsrf_form_html() %}

        </form>
        </div>
        </div>
    {% end %}
