{% extends "index.html" %}
{% block head %}
  <link href={{ static_url("css/signin.css") }} rel="stylesheet">
{% end %}
    {% block body %}
        <script type='text/javascript' src={{ static_url("js/confirm_pw.js") }}></script>
        <div class="container">
        <div class="jumbotron">
        <form class="form-signin" method="post">
            <h5>Username: </h5><input type="text" name="username" id="username"/>
            <h5>Password: </h5><input type="password" id="password" name="password" />
            <h5>Confirm Password: </h5><input type="password" id="confirm-password" name="confirm-password" /> <span id='message'></span>
            <p><input type="submit" id="submit" value="Sign up" class="btn btn-primary"/></p>
            {% if flash %}
                <div>{{flash}}</div>
            {% end %}
            {% module xsrf_form_html() %}

        </form>
        </div>
        </div>
    {% end %}
