{% extends "index.html" %}
{% block head %}
    <style>
        form {
            margin-top: 20px;
        }
    </style>
{% end %}
{% block body %}
    <div class="container">
    <div class="jumbotron">
    <div id="options">
        <button class='btn btn-success btn-lg' id='upload_image'>上傳圖片</button>
        <button class='btn btn-success btn-lg' id='upload_text'>上傳文字</button>
    </div>
    <form id="image_form" style="display:none" method="post" enctype="multipart/form-data">
        <p><input type='hidden' name='type' value='image'/></p>
        <p><input type='file' name='file'/></p>
        <p>圖片類型ID: <input type='text' name='file_type' value="1"/></p>
        <p>播放日期: <input type='date' name='start_date' value="2012-12-21"/> ~ <input type='date' name='end_date' value="2048-10-24"/></p>
        <p>播放時段: <input type='time' step="1" name='start_time' value="00:00:00"/> ~ <input type='time' step="1" name='end_time' value="23:59:59"/></p>
        <p>單次撥放秒數: <input type='text' name='display_time' value="5"/></p>
        <p><input type='submit' value='上傳' class="btn btn-primary"/></p>
        {% module xsrf_form_html() %}
    </form>
    <form id="text_form" style="display:none" method="post">
        <p><input type='hidden' name='type' value='text'/></p>
        <p>獲獎人: <input type="text" name="person_name" /></p>
        <p>獲得獎項: <input type="text" name="reward" /></p>
        <p>附註: <textarea name="description" /></textarea></p>
        <p>
            獲獎時間:
            <select id="year" name="year">
            <script>
            var myDate = new Date();
            var year = myDate.getFullYear();
            for(var i = year; i > year-11 ; i--){
                document.write('<option value="'+i+'">'+i+'</option>');
            }
            </script>
            </select>
            <select name="month" id="month">
                <option value = "1">01</option>
                <option value = "2">02</option>
                <option value = "3">03</option>
                <option value = "4">04</option>
                <option value = "5">05</option>
                <option value = "6">06</option>
                <option value = "7">07</option>
                <option value = "8">08</option>
                <option value = "9">09</option>
                <option value = "10">10</option>
                <option value = "11">11</option>
                <option value = "12">12</option> 
            </select>
        </p>
        <p>類型ID: <input type='text' name='file_type' value="1"/></p>
        <p>播放日期: <input type='date' name='start_date' value="2012-12-21"/> ~ <input type='date' name='end_date' value="2048-10-24"/></p>
        <p>播放時段: <input type='time' step="1" name='start_time' value="00:00:00"/> ~ <input type='time' step="1" name='end_time' value="23:59:59"/></p>
        <p>單次撥放秒數: <input type='text' name='display_time' value="5"/></p>
        <p><input type="submit" value="上傳" class="btn btn-primary"/></p>
        {% module xsrf_form_html() %}
    </form>
    {% if flash %}
    <p>{{flash}}</p>
    {% end %}
    </div>
    </div>
    <script>
    $(window).on('load',function(){
        $('#upload_image').click(function(){
            if($('#text_form').css('display') !== "none"){
                $('#text_form').toggle();
            }
            $('#image_form').toggle();
        });
        $('#upload_text').click(function(){
            if($('#image_form').css('display') !== "none"){
                $('#image_form').toggle();
            }
            $('#text_form').toggle();
        });
    });
    </script>
{% end %}
