{% extends "index.html" %}
{% block head %}
    <link href={{ static_url("css/upload.css") }} rel="stylesheet">
{% end %}
{% block body %}
    <div class="container">
    <div class="jumbotron">
    <div id="options">
        <button class='btn btn-success btn-lg' id='upload_image'>上傳圖片</button>
        <button class='btn btn-success btn-lg' id='upload_text'>上傳獲獎公告</button>
        <button class='btn btn-success btn-lg' id='upload_activity'>上傳演講公告</button>
    </div>
    <div class="image_block" style="display:none">
        <form id="image_form" method="post" enctype="multipart/form-data">
            <p><input type='hidden' name='type' value='image'/></p>
            <p><input type='file' name='file'/></p>
            <p>圖片類型:
                <select name='data_type' id='data_type'>
                    {% for type in data_types %}
                    <option value='{{type[0]}}'>{{type[1]}}</option>
                    {% end %}
                </select>
            </p>
            <p>播放日期: <input type='date' name='start_date' value="2012-12-21"/> ~ <input type='date' name='end_date' value="2048-10-24"/></p>
            <p>播放時段: <input type='time' step="1" name='start_time' value="00:00:00"/> ~ <input type='time' step="1" name='end_time' value="23:59:59"/></p>
            <p>單次撥放秒數: <input type='text' name='display_time' value="5"/></p>
            <p><input type='submit' value='上傳' class="btn btn-primary"/></p>
            {% module xsrf_form_html() %}
        </form>
    </div>
    <script type="text/javascript">
        function deal_space(){
            document.getElementById("person_name").value = document.getElementById("person_name").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("reward").value = document.getElementById("reward").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("description").value = document.getElementById("description").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("person_name2").value = document.getElementById("person_name2").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("reward2").value = document.getElementById("reward2").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            document.getElementById("description2").value = document.getElementById("description2").value.replace(/ /g,'&nbsp').replace(/\n/g,'<br>');
            
        }
    </script>
    <div class="text_block" style="display:none" >
        <div class='row'>
            <div class='col-lg-6' >
            <form name="send_post" id="text_form" method="post">
                <p><input type='hidden' name='type' value='text'/></p>
                <p>獲獎人: <input type="text" name="title1" id="person_name"/></p>
                <p>獲得獎項: <input type="text" name="title2" id="reward"/></p>
                <p>附註: <textarea name="description" id="description"/></textarea></p>
                <p>
                    獲獎時間:
                    <select id="year" name="year">
                    <script>
                    var myDate = new Date();
                    var year = myDate.getFullYear();
                    for(var i = year; i > year-11 ; i--){
                        document.write('<option value="'+i+'">'+i+'</option>');
                    }
                    </script>
                    </select>
                    <select name="month" id="month">
                        <option value = "1">01</option>
                        <option value = "2">02</option>
                        <option value = "3">03</option>
                        <option value = "4">04</option>
                        <option value = "5">05</option>
                        <option value = "6">06</option>
                        <option value = "7">07</option>
                        <option value = "8">08</option>
                        <option value = "9">09</option>
                        <option value = "10">10</option>
                        <option value = "11">11</option>
                        <option value = "12">12</option> 
                    </select>
                </p>
                <p>類型:
                    <select name='data_type' id='data_type'>
                        {% for type in data_types %}
                            {% if type[1] == "獲獎公告" %}
                                <option value='{{type[0]}}'>{{type[1]}}</option>
                            {% end %}
                        {% end %}
                    </select>
                </p>
                <p>播放日期: <input type='date' name='start_date' value="2012-12-21"/> ~ <input type='date' name='end_date' value="2048-10-24"/></p>
                <p>播放時段: <input type='time' step="1" name='start_time' value="00:00:00"/> ~ <input type='time' step="1" name='end_time' value="23:59:59"/></p>
                <p>單次撥放秒數: <input type='text' name='display_time' value="5"/></p>
                <p><input type="submit" value="上傳" class="btn btn-primary" onClick="deal_space();"/></p>
                {% module xsrf_form_html() %}
            </form>
            </div>
            <div class='col-lg-6 sample-page'>
                <div class='header'>
                    <span id="con" >賀 !</span>
                </div>
                <div class='content'>
                    <div class='title' id='person_name'></div>
                    <div class='title' id='reward'></div>
                    <div id='description'></div>
                    <div id='footer'>
                        <div class='bar'></div>
                        <div class='congratulation'><span id='year'></span>年<span id='month'></span>月 資訊學院全體師生慶賀</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="activity_block" style="display:none" >
        <div class='row'>
            <div class='col-lg-6' >
            <form name="send_post" id="text_form" method="post">
                <p><input type='hidden' name='type' value='text'/></p>
                <p>活動名稱: <input type="text" name="title1" id="person_name2"/></p>
                <input type="hidden" name="title2" id="reward2" value=""/>
                <p>活動內容: <textarea name="description" id="description2"/></textarea></p>
                    <input type="hidden" name="year" id="year">
                    <input type="hidden" name="month" id="month">
                <p>類型:
                    <select name='data_type' id='data_type'>
                        {% for type in data_types %}
                            {% if type[1] == "活動公告" %}
                                <option value='{{type[0]}}'>{{type[1]}}</option>
                            {% end %}
                        {% end %}
                    </select>
                </p>
                <p>播放日期: <input type='date' name='start_date' value="2012-12-21"/> ~ <input type='date' name='end_date' value="2048-10-24"/></p>
                <p>播放時段: <input type='time' step="1" name='start_time' value="00:00:00"/> ~ <input type='time' step="1" name='end_time' value="23:59:59"/></p>
                <p>單次撥放秒數: <input type='text' name='display_time' value="5"/></p>
                <p><input type="submit" value="上傳" class="btn btn-primary" onClick="deal_space();"/></p>
                {% module xsrf_form_html() %}
            </form>
            </div>
            <div class='col-lg-6 sample-page'>
                <div class='header-activity'>
                    <span id="con" >活動公告</span>
                </div>
                <div class='content'>
                    <div class='title' id='person_name2'></div>
                    <div class='title' id='reward2'></div>
                    <div id='description2'></div>
                </div>
            </div>
        </div>
    </div>
    {% if flash %}
    <p>{{flash}}</p>
    {% end %}
    </div>
    </div>
    <script>
    $(window).on('load',function(){
        $('span#year').text($('select#year').val());
        $('span#month').text($('select#month').val());
        $('#upload_image').click(function(){
            if($('.text_block').css('display') !== "none"){
                $('.text_block').toggle();
            }
            if($('.activity_block').css('display') !== "none"){
                $('.activity_block').toggle();
            }
            $('.image_block').toggle();
        });
        $('#upload_text').click(function(){
            if($('.image_block').css('display') !== "none"){
                $('.image_block').toggle();
            }
            if($('.activity_block').css('display') !== "none"){
                $('.activity_block').toggle();
            }
            $('.text_block').toggle();
        });
        $('#upload_activity').click(function(){
            if($('.image_block').css('display') !== "none"){
                $('.imgae_block').toggle();
            }
            if($('.text_block').css('display') !== "none"){
                $('.text_block').toggle();
            }
            $('.activity_block').toggle();
        });
    });
    </script>
    <script type="text/javascript" src={{ static_url("js/text_preview.js") }}></script>
{% end %}
