dist: trusty
sudo: false
language: python
python:
    - "3.4"
    - "3.5"
install:
    - pip install -r requirements.txt
    - pip install coveralls
services:
    - mysql
script:
    - echo $'localhost\nroot\n\nbroadcast' > mysql_auth.txt
    - pytest test/
