@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
form {
    margin-top: 20px;
}

div.sample-page {
padding: 0px;
position: relative;
width: 480px;
height: 270px;
font-family: sans-serif, serif,'Noto Sans TC', Microsoft JhengHei, DFKai-sb,PMingLiU;
background: -webkit-linear-gradient(#FFF,#9D9D9D);
background: -o-linear-gradient(#FFF,#9D9D9D);
background: -moz-linear-gradient(#FFF,#9D9D9D);
background: linear-gradient(#FFF,#9D9D9D);
background-repeat: no-repeat;
}

div.header {
background-color: #CE0000;
width: 430px;
height: 95px;
margin-left: 25px;
margin-right: 25px;
position: relative;
}

div.header-activity {
background-color: #FF8000;
width: 430px;
height: 95px;
margin-left: 25px;
margin-right: 25px;
position: relative;
}

div.content {
width: 430px;
height: 175px;
margin-left: 25px;
margin-right: 25px;
position: relative;
}

div#footer {
position: absolute;
bottom: 0px;
}

div.bar {
position: relative;
width: 430px;
height: 2px;
background-color: #CE0000;
}

span#con {
position: absolute;
color: #FFF;
bottom: 10%;
left: 5%;
font-weight: bold;
}

div.title {
position: relative;
padding-left: 5%;
font-size: 24px;
}

div#reward {
font-weight: bold;
}

div#description {
position: relative;
font-size: 9px;
}

div.congratulation{
position: relative;
float: right;
}
